{% extends "base/layout.html" %}

{% block actions %}
<li>
    <a href="{{ url_for('despesas.listar') }}">
        <img class="img-actions" src="{{ url_for('static', filename='img/actions/voltar.png') }}">
    </a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1>Nova despesa</h1>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                <div class="col-md-12">
                    <div class="col-md-4">
                        {{ form.centro_custo.label }}
                        {% for error in form.centro_custo.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.centro_custo(class_='form-control', placeholder='##.##.##.####', size=13) }}
                    </div>
                    <div class="col-md-4">
                        {{ form.data_pagamento.label }}
                        {% for error in form.data_pagamento.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.data_pagamento(class_='form-control', placeholder='DD/MM/AAAA') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.valor_total.label }}
                        {% for error in form.valor_total.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.valor_total(class_='form-control', placeholder='0,00') }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        {{ form.departamento.label }}
                        {% for error in form.departamento.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.departamento(class_='form-control') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.tipo_solicitacao.label }}
                        {% for error in form.tipo_solicitacao.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.tipo_solicitacao(class_='form-control') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.forma_pagamento.label }}
                        {% for error in form.forma_pagamento.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.forma_pagamento(class_='form-control') }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        {{ form.descricao.label }}
                        {% for error in form.descricao.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        {{ form.descricao(class_='form-control', placeholder='Descreva aqui a despesa.', cols=50, rows=5) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        {{ form.observacao.label }}
                        {% for error in form.observacao.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        {{ form.observacao(class_='form-control', placeholder='Acrescente aqui quaisquer observações necessárias quanto a esta solicitação.', cols=50, rows=5) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        {{ form.boleto.label }}
                        {% for error in form.boleto.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        {{ form.boleto(class_='form-control') }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <br>
                        {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
