{% extends "base/layout.html" %}
{% block actions %}
<li>
    <a href="{{ url_for('despesas.criar') }}">
        <img class="img-actions" src="{{ url_for('static', filename='img/actions/incluir.png') }}">
    </a> 
</li>
<li>
    {% if is_dba %}
    <a href="{{ url_for('users.listar') }}">
        <img class="img-actions" src="{{ url_for('static', filename='img/actions/user.png') }}">
    </a>
    {% endif %}
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    SOLICITAÇÕES DE DESPESA
                </div>
                <div class="table-responsive">
                    <table id="dtDespesas" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th class="sm-column">Fornecedor</th>
                            <th>Departamento</th>
                            <th>Emissão</th>
                            <th>Vencimento</th>
                            <th>Centro de Custo</th>
                            <th>Valor</th>
                            <th>Criado por</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for despesa in despesas %}
                        <tr id={{ despesa['id'] }}>
                            <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/' + despesa['status'] + '.png') }}"></td>
                            <td><a href="{{ url_for('despesas.detalhar', id=despesa['id']) }}">{{ despesa['id'] }}</a></td>
                            <td>{{ despesa['tipo_solicitacao'] }}</td>
                            <td class="sm-column">{{ despesa['fornecedor'] }}</td>
                            <td class="sm-column text-capitalize">{{ despesa['departamento'] }}</td>
                            <td>{{ despesa['data_criacao'].strftime('%d/%m/%Y') }}</td>
                            <td>{{ despesa['data_pagamento'].strftime('%d/%m/%Y') }}</td>
                            <td>{{ despesa['centro_custo'] }}</td>
                            <td>{{ despesa['valor_total'] }}</td>
                            <td class="sm-column">{{ despesa['criado_por'] }}</td>
                            <td><a href="{{ url_for('despesas.detalhar', id=despesa['id']) }}">Detalhar</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <h4>Legenda</h4>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/1.png') }}"</td>
                                <td>Nova solicitação</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/2.png') }}"</td>
                                <td>Aprovado pelo responsável do departamento</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/3.png') }}"</td>
                                <td>Aprovado pelo Finaceiro</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/4.png') }}"</td>
                                <td>Incluso no sistema para pagamento</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/5.png') }}"</td>
                                <td>Não aprovado pelo responsável do departamento</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/6.png') }}"</td>
                                <td>Não aprovado pelo Financeiro</td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-status" src="{{ url_for('static', filename='img/status/7.png') }}"</td>
                                <td>Cancelado</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}

