blinker==1.4
certifi==2022.6.15
charset-normalizer==2.1.1
click==6.7
email_validator==2.0.0.post2
Flask==1.1.4
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-WTF==0.14.2
flask-talisman==1.0.0
gcloud==0.17.0
googleapis-common-protos==1.5.3
gunicorn==19.7.1
httplib2==0.19.0
idna==3.3
itsdangerous==0.24
Jinja2==2.11.3
jws==0.1.3
MarkupSafe==2.0.1
numpy==1.22.0
oauth2client==3.0.0
protobuf==3.15.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycryptodome==3.15.0
pyparsing==2.4.7
Pyrebase @ git+https://github.com/danresende/Pyrebase.git@0cee02aacfec8f910ce03a40d2a7a35fac840f6c
python-jwt==2.0.1
requests==2.28.1
requests-toolbelt==0.9.1
rsa==4.7
six==1.11.0
urllib3==1.26.12
Werkzeug==0.16.1
