{% extends "base/layout.html" %}

{% block actions %}
<li>
    <a href="{{ url_for('users.listar') }}">
        <img class="img-actions" src="{{ url_for('static', filename='img/actions/voltar.png') }}">
    </a>
</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1>Novo usuário</h1>
                <br>
            </div>
        </div>
        <div class="col-md-12">
            <form action="" method="POST">
            {{ form.hidden_tag() }}
                <div class="col-md-12">
                    <div class="col-md-4">
                        {{ form.uid.label }}
                        {% for error in form.uid.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.uid(class_='form-control', placeholder='Copiar do Firebase') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.email.label }} <strong>(sem domínio)</strong>
                        {% for error in form.email.errors%}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.email(class_='form-control') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.departamento.label }}
                        {% for error in form.departamento.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.departamento(class_='form-control') }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        {{ form.nome.label }}
                        {% for error in form.nome.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.nome(class_='form-control') }}
                    </div>
                    <div class="col-md-6">
                        {{ form.sobrenome.label }}
                        {% for error in form.sobrenome.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.sobrenome(class_='form-control') }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        {{ form.representante.label }}
                        {% for error in form.representante.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.representante }}
                    </div>
                    <div class="col-md-4">
                        {{ form.dba.label }}
                        {% for error in form.dba.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.dba }}
                    </div>
                    <div class="col-md-4">
                        {{ form.diretor.label }}
                        {% for error in form.diretor.errors %}
                            <span class="error">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.diretor }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <br>
                        {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
