{% extends "base/layout.html" %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1 class="text-center">Algo de errado aconteceu</h1>
            <br>
        </div>
        <div class="col-md-12">
            <p class="text-center">
                Envie um e-mail para 
                <a href="mailto:financeiro@biomedidas.com.br">
                    financeiro@biomedidas.com.br
                </a>, não se esquecendo de relatar com detalhes quais ações tentou operar antes de chegar a esta página.
            </p>
        </div>
    </div>
</div>
{% endblock %}
