body {
    padding-top: 70px;
}

label {
    padding-top: 5px;
}

td {
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.error {
    color: red;
}
.img-actions {
    width: 20px;
    height: 20px;
}

.img-status {
    width: 20px;
    height: 20px;
}

.img-status-detalhe {
    width: 25px;
    height: 25px;
}
.logo-empresa {
    padding-top: 5px;
    margin-bottom: 6px;
}

.login {
    margin-top: 50px;
}

.form-login {
    width: 30%;
    margin: 0 auto;
}

.btn-primary {
    color: #fff;
    background-color: #54bceb;
    border-color: #54bceb;
}

.btn-primary:hover {
    color: #f6fafc;
    background-color: #44acdb;
    border-color: #44acdb;
}

.sm-column {
    max-width: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-link {
    color: #54bceb;
}

.btn-link:hover {
    color: #44acdb;
}
