<!doctype html>
<html>
    <head>
        {% block head %}
	<title>{% block title %}{% endblock %}Solicitação de despesa</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon.png') }}">
	<script type="text/javascript" src={{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}></script>
	<script type="text/javascript" src={{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}></script>
	<script type="text/javascript" src={{ url_for('static', filename='datatables/datatables.min.js') }}></script>
        {% endblock %}
    </head>
    <body>
        <div class="row">
            <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            {% if current_user.is_authenticated %}
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% endif %}
                            <a href="{{ url_for('despesas.listar') }}">
				<img class="logo-empresa" src="{{ url_for('static', filename='img/logo/biomed-logo-1200.png' )}}" alt="Biomed">
                            </a>
                        </div>
                        {% if current_user.is_authenticated %}
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right list-inline text-center">
                                {% block actions %}{% endblock %}
                                <li>
                                    <a href="{{ url_for('login.logout') }}">
                                        <img class="img-actions" src="{{ url_for('static', filename='img/actions/logout.png') }}">
                                    </a> 
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        {% endif %}
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        {% block content %}{% endblock %}
        <br>
        <footer>
            <p class="text-center"><i class="far fa-copyright" aria-hidden="true"></i> 2018 | Biomed | Daniel Resende</p>
        </footer>
    </body>
</html>
