<p>Oi,</p>

<p>Infelizmente, não foi possível aprovar a Solicitação de Despesa {{ despesa['id'] }} no valor de R${{ despesa['valor_total'] }} para pagamento em {{ despesa['data_pagamento'] }}.</p>

<p>Por favor, verifique as informações da Solicitação indicada e edite o que for pertinente.</p>

<p>Clique no link abaixo para acessá-la.</p>
<p><a href="http://biomed-websd.herokuapp.com">Acesse aqui</a></p>

<p>Em caso de dúvida me avise.</p>

<p>Att.,</p>
<p>{{ current_user.nome }} {{ current_user.sobrenome }}</p>
