<p>Oi,</p>

<p>Infelizmente, não foi possível aprovar a Solicitação de Despesa {{ despesa['id'] }} no valor de R${{ despesa['valor_total'] }} para pagamento em {{ despesa['data_pagamento'] }}.</p>

<p>Por favor, verifique as informações da Solicitação indicada e edite o que for pertinente.</p>

<p>Clique no link abaixo para acessá-la.</p>
<p><a href="http://biomed-websd.herokuapp.com">Acesse aqui</a></p>

<p>Não se esqueça que ao alterar as informações da Solicitação de Despesa, esta necessitará novamente de todas as aprovações e os prazos serão contados a partir das novas datas.</p>

<p>Em caso de dúvida, é só nos chamar .</p>

<p>Att.,</p>
<p>Departamento Financeiro</p>
